<h1>OUR HONEYMOON PAGE!</h1>

<div class="row">
  <% @destinations.each do |destination| %>
    <div class="col-sm-4 mt-3">
      <div class="card">
        <img src=" <%=  destination["name"]["image"]%>">
        <div class="card-body">
          <h5 class="card-title"> <%= destination["name"] %> </h5>

          <a href="/client/destinations/<%= destination["id"] %>" class="btn btn-primary">ChECK IT OUT</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

